html {
    font-size: 16px;
    font-family: "franklin-gothic-urw", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited {
    color: #8aadbe;
    text-decoration-style: dotted;
    text-underline-offset: 0.2em;
    font-weight: bold; 
}

#map {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.corner-link {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 10;
}

.corner-image {
    width: 100px;
    height: auto;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
}

.corner-image:hover {
    opacity: 1;
}

#header {
    margin: auto auto 50%;
    width: 100%;
    position: relative;
    z-index: 5;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#header h1 {
    margin: 0;
    padding: 2vh 10vw;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-size: 72px;
}

#header h2 {
    text-align: center;
    font-family: 'franklin-gothic-urw', sans-serif;
    color: #FFF;
    padding: 0 20% 0 20%;
    font-size: 1.6em;
    letter-spacing: .01em;
    line-height: 1.5em;
    font-style: italic;
    font-weight: normal;
}

.start-button {
    cursor: pointer;
    margin-top: 1rem;
    padding: 20px;
    width: 150px;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    border-radius: 1rem;
    font-weight: bold;
    font-family: "franklin-gothic-urw", sans-serif;
    letter-spacing: 0.2rem;
    border: solid 2px #fff;
    transition: background 0.3s ease-in-out;
}

.start-button:hover {
    background-color: #a4343a;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #b1ccd6;
    line-height: 1.2em;
    display: inline-block;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
    display: inline;
    text-transform: uppercase;
    letter-spacing: .05rem;
}

.spacer {
  height: 6px;
  border: none !important;
}

.legend h4 {
    color: rgb(177, 204, 214);
    font-size: 1rem;
    display: block;
    text-shadow: 0 0 10px #000000;
}

.trade {
    background-color: #2A436F;
    color: #A3CEDE;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 10px;
    display: inline-block;
}

.suez {
    background-color: #2A436F;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 10px;
    display: inline-block;
}

.axis {
    background-color: #cfb2a9;
    color: #A4343A;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 10px;
    display: inline-block;
}

.axis-nobg {
    color: #A4343A;
    font-weight: bold;
    display: inline-block;
}

p {
    color: #fff;
    font-family: "franklin-gothic-urw", sans-serif;
    font-size: 1.6em;
    margin-top: 0;
}

#footer {
    width: 100%;
    min-height: 5vh;
    padding: 2vh 0;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    position: relative;
    z-index: 5;
    background-color: #000;
    border-radius: 0;
    border-top: 2px solid #fff;
}

#footer p {
    text-align: left;
    margin-left: 5%;
}

#footer a {
    color: #304b7e;
    font-weight: bold;
}

#footer a:visited {
    color: #000;
}

.footer-30yr {
    width: 100%;
    height: auto;
    padding: 0;
    z-index: 6;
    position: relative;
    margin-bottom: -5px;
}

#features {
    padding: 10vh 0 0;
}

.hidden {
    visibility: hidden;
}

.centered {
    width: 50vw;
    margin: 0 auto;
    padding-bottom: 50vh !important;
}

.lefty {
    width: 29vw;
    margin: 2vw;
}

.righty {
    width: 29vw;
    margin-left: 62vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.main {
    color: #fafafa;
}

.step {
    padding-bottom: 50vh;
    opacity: 0.25;
    min-height: 100vh;
}

.step.active {
    opacity: 0.9999;
}

.step div {
    padding: 5px 50px;
    line-height: 25px;
    font-size: 13px;
    background-color: #000;
    color: #444;
    border-radius: 25px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-step {
    margin-bottom: 50vh;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-size: inherit;
    line-height: inherit;
  }

  .text-step:not(:first-child) {
    margin-top: 2em;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 1em;
  }

.step img {
    width: 100%;
}


.step {
    position: relative;
    padding-bottom: 50px;
}

.legend {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: #E4E4E4;
    padding: 10px 50px;
    z-index: -2;
    font-weight: 700;
    text-shadow: 0 0 10px #000000;
}

#legend-black {
    color: #000;
    text-shadow: none;
}

.legend.active {
    display: block;
    opacity: 1;
    position: fixed;
    bottom: 40px;
    left: 40px;
    color: #E4E4E4;
    padding: 10px 50px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item span {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 6px;
}

@media (max-width: 750px) {

    .centered,
    .lefty,
    .righty,
    .fully {
        width: 100vw;
        margin: 0 auto;
    }
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}

@media (max-width: 600px) {
    .mapboxgl-ctrl-globe-minimap {
        display: none !important;
    }
}

.multi-step-container {
    display: flex;
    flex-direction: column;
}

.multi-step-container .text-part {
    opacity: 0.1;
    transition: opacity 0.6s ease;
    margin-bottom: 60vh;
}

.multi-step-container .text-part.active {
    opacity: 1;
}

.step .text-step {
    all: unset;
    display: block;
    margin-bottom: 50vh;
    box-shadow: none;
}

.photocaption {
    font-size: 0.6em;
    line-height: 1.2rem;
    letter-spacing: .02em;
    display: block;
    margin-bottom: 10px;
    color: #000;
}

.mapboxgl-ctrl-top-right {
    right: 25px !important;
    top: 25px !important;
}

/* CHAPTER SPECIAL */

#CH02 .main, #CH02 .multi-step-container {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

#CH09 .main, #CH09 .multi-step-container {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}